* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.candidate-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-column-gap: 63px;
  grid-row-gap: 54px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.candidate {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 450px;
  width: 300px;
}
.candidate-img {
  height: 300px;
  width: 100%;
}
.candidate:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.details {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-row-gap: 20px;
  padding: 10px;
}

.description {
  color: #a19b9b;
}

.emaptycase {
  color: red;
  position: absolute;
  top: 50%;
  left: 45%;
}
